<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Cobolt Loading</title>
    <link rel="stylesheet" href="loading.css" />
  </head>
  <body>
    <div id="root">
      <!-- Fallback content that will be shown until React renders -->
      <div class="loading-container">
        <div class="loading-spinner"></div>
        <h2>Setting up Cobolt</h2>
        <p>Please wait while we complete the first-time setup...</p>
      </div>
    </div>
  </body>
</html>